# test-build.yml
# GitHub action to run `quarto render` as a sanity check

name: "Quarto Test Build"

on:
  push:
    branches: ["main", "test-actions"]
  pull_request:
    branches: main
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      # Install Python
      - name: Install Python and Dependencies
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
      - run: pip install jupyter
      # - run: pip install -r requirements.txt

      # Install R
      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.0'

      - name: Install R Dependencies
        uses: r-lib/actions/setup-renv@v2
        with:
          cache-version: 1

      # Run Quarto
      - name: Render
        uses: quarto-dev/quarto-actions/render@v2
        with:
          to: html
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
